[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.1.0"
psycopg2-binary = "==2.8.5"
environs = {extras = ["django"], version = "==8.0.0"}
django-crispy-forms = "==1.9.2"
markdown = "==3.3.3"

[requires]
python_version = "3.7"
