h1 {
    font-size: 3em;
    color: #333e48;
    font-weight: 700;
    margin-top: 1em;
}

hr {
    width: 150px;
    height: 4px;
    margin: 0px;
    border: none;
    color: #1a82e2;
    background-color: #1a82e2;
    margin-top: 2em;
}

h3 {
    font-size: 1.9em;
    color: #333e48;
    font-weight: 500;
    margin-top: 1em;
}

h5 {
    font-size: 1.1em;
    line-height: 2em;
    color: #333e48;
    font-weight: 500;
    margin-top: 2em;
}

p {
    font-size: 1.1em;
    line-height: 2em;
    color: #333e48;
    margin-top: 1.5em;
}