{% extends '_base.html' %}
{% load static %}
{% load markdown_extras %}

{% block title %}Blog{% endblock title %}

{% block content %}

<div class="col mt-3">
    {% for post in post_list %}
    <div class="row">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                <p class="card-text">{{ post.content | markdown | safe | slice:":200" }}</p>
                <a href="{% url 'blog:post' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}