body {
    background-color: rgb(248,250,252);
}

.company-name {
    color: #414B56; /*rgb(62,74,86);*/
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    display: inline-block;
    /*margin-bottom: 1.0em;*/
}

.ticker-symbol {
    font-weight: normal;
}

.timestamp {
    color: #414B56; /*rgb(62,74,86);*/
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1em;
    font-style: normal;
    /*display: inline-block;*/
    margin-top: 0.3em;
    margin-bottom: 1.5em; /*3.0em;*/
}

/* sector, industry & size */
.description-title {
    color: rgb(62,74,86);
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    font-style: normal;
    display: inline-block;
    margin-bottom: 2em;
}

.description-name {
    color: rgb(62,74,86);
    font-weight: 600;
}

/* composite ranks, quality ranks, etc */
.sub-heading {
    color: rgb(62,74,86);
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em; /*1.5em;*/
    font-style: normal;
    font-weight: 500; /*600*/
    margin-bottom: 1.3em;
    border-bottom: 0.02em solid rgb(62,74,86);
    padding-bottom: 0.5em;
}

.rank-container {
    width: 23.5%;
    height: 17.5em;
    float: left;
    margin-bottom: 2em;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 23, 62, 0.2) 0 7px 11px -4px, rgb(168, 185, 213) 0 0 1px 0;
    border-radius: 0.7em;
}

.indiv-rank-container {
    width: 23.5%; /*49%;*/
    height: 34em;
    float: left;
    margin-bottom: 2em;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 23, 62, 0.2) 0 7px 11px -4px, rgb(168, 185, 213) 0 0 1px 0;
    border-radius: 0.7em;
}

.factor-margin-1 {
    margin-right: 2%;
}

.factor-margin-2 {
    margin-right: 2%;
}

.indiv-rank-margin {
    margin-right: 2%;
}

/* value, momentum, quality, etc */


.more-button {
    font-family: Poppins, sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    background-color: rgb(138,174,254); /*white; /*rgb(138,174,254);*/
    border-color: rgb(138,174,254); /*rgb(62,74,86); /*rgb(138,174,254);*/
    border-radius: 0.9em;
    padding: .2em .6em;
    color: white; /*rgb(62,74,86); /*white;*/
    border-style: solid;
    cursor: pointer;
    /*position: absolute;*/
    float: right;
    margin-top: 13.3em; /*-2.9em;*/
    margin-right: 1.5em;
}

.indiv-rank-button {
    margin-right: 4%;
    /*margin-top: 13.3em;
    position: absolute;
    right: 0;*/
    margin-top: 1em;
}

.tooltip {
    font-family: Poppins, sans-serif;
    font-size: .9em;
    font-weight: 700;
    border-radius: 50%; /*1em;*/
    /*padding: .2em .6em;*/
    color: white;
    border-style: solid;
    cursor: help;
    float: right;
    margin-top: -2.7em;
    margin-right: 1.5em;
    background-color: #414B56; /*#292929;*/
    border-color: #414B56; /*#292929;*/
    position: relative;
}

    .tooltip .tooltiptext {
        font-weight: normal;
        visibility: hidden;
        width: 12.3em;
        background-color: rgb(62,74,86);
        color: white;
        text-align: left;
        border-radius: 2%;
        padding: 0.7em 1.0em 0.7em 1.0em;
        position: absolute;
        z-index: 1;
        top: 140%;
        right: 1%
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }


.rank-text {
    font-size: 2.7em;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-top: 0.77em;
    color: rgb(62,74,86);
}

.locked-content {
    display: none; /*block;*/
    /*position: absolute;
    margin-top: 0;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    /*left: 0;
    right: 0;*/
    width: 50%;
    height: 50%;
}

.unlock-link {
    font-size: 1em;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-top: -0.8em;
    color: rgb(62,74,86); /*#157FE0;*/
    text-decoration: underline;
}

.circle {
    width: 10em; /*11.2em*/
    height: 10em;
    border-radius: 50%;
    border: 1em solid rgb(248,250,252);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    overflow: hidden;
}

.free-circle {
    border-color: white;
}

.arc {
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 1em solid white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    overflow: hidden;
    transform: rotate(45deg);
}




/* tablets */
@media only screen and (max-width:600px) {
    /* for tablets */
    .rank-container {
        width: 49%;
    }

    .indiv-rank-container {
        width: 100%;
    }

    .factor-margin-2 {
        margin-right: 0;
    }

    .indiv-rank-margin {
        margin-right: 0;
    }

    .ui-autocomplete-input {
        width: 100%;
    }
}

/* mobile devices */
@media only screen and (max-width:300px) {
    /* for mobile phones */
    .rank-container {
        width: 100%;
    }

    .indiv-rank-container {
        width: 100%;
    }

    .factor-margin-1 {
        margin-right: 0;
    }

    .factor-margin-2 {
        margin-right: 0;
    }

    .indiv-rank-margin {
        margin-right: 0;
    }

    .ui-autocomplete-input {
        width: 100%;
    }
}
